<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: Your Eureka adventure is now starting!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_SECURITY_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
</head>
<body>
    <p>Welcome to Eurêka, the Participatory Innovation Program from PagesJaunes group!</p>
 
    <p>To quickly go there: @EUREKA_URL_LINK@</p> 
    
    <p>Enter your login: @RECIPIENT_LOGIN@<br/> 
       Enter your password: @COMMENT@</p>
    
    <p>You will be invited to change this password at the first connection, or by browsing the "My profile/My Password" 
        page (at the top right corner)</p> 
 
    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
