<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Visit Card of @COMMENT@</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
</head>
<body>
    <p>Hello @RECIPIENT_FIRSTNAME@,</p>

    <p>You'll find the visit card of @COMMENT@ attached to this email.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
