<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: The idea #@IDEA_ID@ @IDEA_TITLE@ has been submitted</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@FI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@IPS_INFO_EMAIL@"/>
</head>
<body>
    <p>Hello @RECIPIENT_FIRSTNAME@,</p>

    <p>Your idea @IDEA_TITLE@ has been sent to my inbox on @SUBMISSION_DATE@.</p>

    <p>I'll come back to you as soon as possible if more information are needed. But if everything is ok, I will 
        publish it on Eurêka.</p>

    <p>Then, the community will be able to comment and vote for it. In the meantime, an expert will evaluate it.</p>

    <p>You will be informed step by step of the progress of your idea.</p>

    <p>See you soon on @EUREKA_LINK@!</p>

    <p>@FI_FIRSTNAME@ @FI_LASTNAME@, your innovation facilitator</p>
</body>
</html>
