<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: Your idea #@IDEA_ID@ @IDEA_TITLE@ is put into pilot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Congratulations @RECIPIENT_FIRSTNAME@, your idea has been put into pilot
        on the Eurêka portal! 300 points has been credited to your points account.</p>

    <p>From now on, your idea is the subject of a pilot deployment that will help us 
        determine if it can be deployed to the whole company.</p>

    <p>You'll be informed of the progress state of your idea.</p>

    <p>To consult it, it's @IDEA_LINK_HERE@.</p>

    <p>Thanks, you are an active contributor! Don't hesitate to consult your status, 
        your points balance and @SHOP_LINK@.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
