<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : WARNING : a comment has been reported</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-to-recipients" content="@RIPS_MODERATION_EMAIL@"/>
    <meta name="mail-sender" content="@MODERATION_USER@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>A comment has been moderated for idea #@IDEA_ID@ @IDEA_TITLE@ by @MODERATION_USER_FIRSTNAME@ @MODERATION_USER_LASTNAME@. This comment is momentarily unpublished.
To change it or delete it pleese see: @IDEA_LINK_HERE@.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>