<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: Password reset request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_SECURITY_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
</head>
<body>
    <p>Hello,</p>

    <p>We have received a password reset request in Eurêka. If you are at the origin of this request,
        click on the following link in order to reset your password:<br/>
        @COMMENT@</p>

    <p>Otherwise, feel free to ignore this email.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
