<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: The idea #@IDEA_ID@ @IDEA_TITLE@ has just been selected</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Congratulations @RECIPIENT_FIRSTNAME@, your idea has just been selected
        on the Eurêka portal! 100 points have been credited to your points account.</p>

    <p>Your idea has some potential, the appropriate direction will now decide if your 
        idea will be implemented.</p>

    <p>You'll be informed of the progress state of your idea.</p>

    <p>To consult it, it's @IDEA_LINK_HERE@.</p>

    <p>We are waiting for your next contribution.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
