<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: A new idea has been sent to your inbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@FI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Hello @DI_FIRSTNAME@,</p>

    <p>I just sent an idea to your inbox.</p>

    <p>To read the idea and formulate a recommendation, click @IDEA_LINK_HERE@.</p>

    <p>Don't hesitate to post comments in order to make the community react and help you evaluate an idea.</p>

    <p>The quality of the evaluation will be decisive for the ideas progress.</p>

    <p>See you soon on @EUREKA_LINK@!</p>

    <p>@FI_FIRSTNAME@ @FI_LASTNAME@</p>
</body>
</html>
