<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: Your idea #@IDEA_ID@ @IDEA_TITLE@ has been rejected</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@FI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@IPS_INFO_EMAIL@"/>
</head>
<body>
    <p>Hello,</p>

    <p>Your idea @IDEA_TITLE@ has been analyzed and studied carefully. 
        Thanks for your involvement but sadly, it has been rejected. Indeed:</p>

    <blockquote>@COMMENT@</blockquote>

    <p>Please feel free to post brand new ideas and/or improvement suggestions.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
    
    <p>@FI_FIRSTNAME @FI_LASTNAME@, your innovation facilitator</p>
</body>
</html>
