<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: Your idea #@IDEA_ID@ @IDEA_TITLE@ is being implemented!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Congratulations @RECIPIENT_FIRSTNAME@, your idea is being implemented on 
        the Eurêka portal! 200 points has been credited to your points account.</p>

    <p>Your idea is offically launched and is driven by a project leader 
        appointed by the concerned direction.</p>

    <p>The innovation team deal with the interfacing with the project leader 
        so that you'll be kept informed of the next step.</p>

    <p>To consult it, it's @IDEA_LINK_HERE@.</p>

    <p>Thanks, you are an active contributor! Don't hesitate to consult your status, 
        your points balance and @SHOP_LINK@.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
