<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: The idea #@IDEA_ID@ @IDEA_TITLE@ has just been recommended</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DSIG_EMAIL@"/>
</head>
<body>
    <p>Congratulations @RECIPIENT_FIRSTNAME@, your idea has just been recommended
        on the Eurêka portal! 20 points have been credited to your points account.</p>

    <p>A further study will be carried out to evaluate the appropriateness of selecting it.</p>

    <p>You'll be informed of the next progress step of your idea.</p>

    <p>To consult it, it's @IDEA_LINK_HERE@.</p>

    <p>We are waiting for your next contribution.</p>

    <p>See you soon on @EUREKA_LINK@!</p>
</body>
</html>
