<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka: Your idea #@IDEA_ID@ @IDEA_TITLE@ has just been published on Eurêka!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@FI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@IPS_INFO_EMAIL@"/>
</head>
<body>
    <p>Congratulations @RECIPIENT_FIRSTNAME@, your idea has just been published on Eurêka ! 10 points 
        have been credited to your points account.</p>

    <p>From now on, anyone can read your idea, vote and comment it. To view your idea, click @IDEA_LINK_HERE@.</p>

    <p>In the meantime, an expert will evaluate the idea and will come back to you as soon as possible to 
        inform you about its progress.</p>

    <p>See you soon on @EUREKA_LINK@!</p>

    <p>@FI_FIRSTNAME@ @FI_LASTNAME@, your innovation facilitator</p>
</body>
</html>
