<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : L'idée #@IDEA_ID@ @IDEA_TITLE@ vient d'être mise en pilote !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Félicitations @RECIPIENT_FIRSTNAME@, votre idée vient d'être
       mise en pilote sur le site Eurêka ! 300 points ont été automatiquement
       ajoutés à votre compte de points.</p>

    <p>Désormais, votre idée fait l'objet d'un pilote qui servira à déterminer
       si elle pourra être déployée à l'ensemble du Groupe.</p>

    <p>Vous serez informé de l'état d'avancement de votre idée.</p>

    <p>Pour la consulter, c'est @IDEA_LINK_HERE@.</p>

    <p>Bravo, vous êtes un contributeur actif ! N'hésitez pas à consultez votre
       grade, votre cumul de points et @SHOP_LINK@.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
