<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Une idée en cours a été signalée</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@SENDER@"/>
    <meta name="mail-to-recipients" content="@RECIPIENTS@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>@FIRSTNAME@ @LASTNAME@ a signalé que l’idée <a href="@IDEA_LINK@">@IDEA_ID@</a> est doublon de l’idée <a href="@OLD_IDEA_LINK@">@OLD_IDEA_ID@</a></p>

    <p>À très bientôt sur @EUREKA_LINK@!</p>

</body>
</html>
