<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : URGENT: un abus sur un commentaire !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-to-recipients" content="@IPS_MODERATION_EMAIL@"/>
    <meta name="mail-sender" content="@MODERATION_USER@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>Un commentaire abusif a été signalé sur l'idée #@IDEA_ID@ @IDEA_TITLE@ par @MODERATION_USER_FIRSTNAME@ @MODERATION_USER_LASTNAME@. Ce commentaire est temporairement dépublié.
Merci de le modifier/supprimer définitivement à l'emplacement: @IDEA_LINK_HERE@.</p>

    <p>Bien cordialement,</p>

    <p>A très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>