<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Votre idée #@IDEA_ID@ @IDEA_TITLE@ à enrichir</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>J'ai bien pris connaissance de l'idée @IDEA_TITLE@. Afin
       de mieux la mettre en valeur, merci de développer les points suivants :</p>

    <blockquote>@COMMENT@</blockquote>

    <p>Pour compléter l'idée directement c'est @IDEA_LINK_HERE@. Vous
       pouvez aussi répondre directement à mes questions en postant un commentaire sur l'idée.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
