<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Une nouvelle idée est déposée dans ta box</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@FI_EMAIL@"/>
</head>
<body>
    <p>Bonjour @FI_FIRSTNAME@,</p>

    <p>L'idée : @IDEA_TITLE@ vient d'être déposée dans ta box.</p>

    <p>Pour en prendre connaissance et en vérifier la cohérence, clique
       @IDEA_LINK_HERE@. Merci de relire, voire compléter la fiche
       idée puis de revenir très rapidement vers l'auteur si besoin, sinon
       envoie-la vers le Développeur d'Idée correspondant à la thématique
       pour évaluation.</p>

    <p>Merci de contacter la cellule IPS pour toute question ou interrogation
       sur la publication d'idée.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
