<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Une nouvelle idée est déposée dans ta box</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@FI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Bonjour @DI_FIRSTNAME@,</p>

    <p>Je viens de déposer une idée dans ta box.</p>

    <p>Pour en prendre connaissance et pouvoir formuler une recommandation, clique
       @IDEA_LINK_HERE@.</p>

    <p>N'hésite pas à poster des commentaires pour faire réagir la communauté et t'aider
       à évaluer une idée.</p>

    <p>La qualité de cette évaluation sera déterminante pour l'avancement des idées.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>

    <p>@FI_FIRSTNAME@ @FI_LASTNAME@</p>
</body>
</html>
