<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Nouvelle idée d'amélioration concernant @SUGGESTION_LABEL@</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@SUGGESTION_USER@"/>
    <meta name="mail-to-recipients" content="@IPS_SUGGESTION_EMAIL@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>Ce @SUBMISSION_DATE@, une proposition d'amélioration a été déposée par @SUGGESTION_USER_FIRSTNAME@ @SUGGESTION_USER_LASTNAME@ (@SUGGESTION_USER@).</p>

    <hr/>
    <p>%(content)s</p>
    <hr/>

    <p>Bien cordialement,</p>

    <p>A très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>