<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : L'idée #@IDEA_ID@ @IDEA_TITLE@ vient d'être recommandée</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DSIG_EMAIL@"/>
</head>
<body>
    <p>Félicitations @RECIPIENT_FIRSTNAME@, votre idée vient d'être
       recommandée sur le site Eurêka ! 20 points ont été automatiquement
       ajoutés à votre compte de points.</p>

    <p>Une étude plus approfondie va être menée pour évaluer l'opportunité de
       la sélectionner.</p>

    <p>Vous serez informé de la prochaine étape d'avancement de votre idée.</p>

    <p>Pour la consulter, c'est @IDEA_LINK_HERE@.</p>

    <p>Nous attendons votre prochaine contribution.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
