<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Votre aventure Eurêka commence maintenant !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_SECURITY_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
</head>
<body>
    <p>Bienvenue sur Eurêka, le programme d'Innovation Participative du groupe PagesJaunes !</p>
 
    <p>Pour y aller sans tarder : @EUREKA_URL_LINK@</p> 
    
    <p>Entrez votre identifiant : @RECIPIENT_LOGIN@<br/> 
       Saisissez le mot de passe temporaire : @COMMENT@</p>
    
    <p>Vous serez invité à modifier ce mot de passe lors de la première connexion, ou en allant 
      dans "Mon profil" (en haut à droite)/"Mon mot de passe"</p> 
 
    <p>A très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
