<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Votre idée #@IDEA_ID@ @IDEA_TITLE@ vient d'être publiée sur le site Eurêka !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@FI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@IPS_INFO_EMAIL@"/>
</head>
<body>
    <p>Félicitations @RECIPIENT_FIRSTNAME@ votre idée vient d'être
       publiée sur le site Eurêka ! 10 points ont été automatiquement ajoutés
       à votre compte de points.</p>

    <p>À partir de maintenanant, l'idée est visible par tous les collaborateurs
       du Groupe, et chaucun pourra voter et la commenter. Pour visualiser
       votre idée, cliquez @IDEA_LINK_HERE@.
    </p>

    <p>Dans le même temps, un Développeur d'Idée se chargera de son évaluation,
       et reviendra vers vous dès que possible pour vous informer de son
       évolution.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>

    <p>@FI_FIRSTNAME@ @FI_LASTNAME@, votre
       Facilitateur Innovation</p>
</body>
</html>
