<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : L'idée #@IDEA_ID@ @IDEA_TITLE@ vient d'être déployée !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@DI_EMAIL@"/>
</head>
<body>
    <p>Félicitations @RECIPIENT_FIRSTNAME@, votre idée vient d'être
       déployée dans le Groupe ! Vous gagnez ainsi 500 points
       supplémentaires !</p>

    <p>Votre idée a parcouru l'intégralité des étapes d'avancement des
       idées !</p>

    <p>Pour la consulter, c'est @IDEA_LINK_HERE@.</p>

    <p>En qualité de contributeur actif, vous pourrez être amené à contribuer
       éventuellement à des groupes de réflexion transverses, des séminaires,
       des formations…</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
