<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Nouveau commentaire pour l'idée #@IDEA_ID@ @IDEA_TITLE@ !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-to-recipients" content="@RECIPIENT_EMAIL@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>Un commentaire vient d'être déposé sur l'idée #@IDEA_ID@ @IDEA_TITLE@.
    Pour le consulter, cliquez @IDEA_LINK_HERE@.</p>

    <p>@COMMENT_AUTHOR_FIRSTNAME@ @COMMENT_AUTHOR_LASTNAME@ a écrit :</p>
    <blockquote>@COMMENT@</blockquote>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
