<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Changement de DI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@PREVIOUS_DI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@DI_EMAIL@"/>
    <meta name="mail-bcc-recipients" content="@IPS_INFO_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@FI_EMAIL@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>J'ai pris connaissance de l'idée @IDEA_TITLE@. Cependant, je pense qu'elle concerne plus
       directement ton domaine d'activité et que tu seras plus légitime que moi pour la traiter.</p>

    <blockquote>@COMMENT@</blockquote>

    <p>Pour la traiter directement c'est @IDEA_LINK_HERE@.</p>

    <p>À très bientôt sur @EUREKA_LINK@ !</p>
</body>
</html>
