<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Eureka : Transfert de l'idée #@IDEA_ID@ @IDEA_TITLE@ à la cellule IPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mail-sender" content="@DI_EMAIL@"/>
    <meta name="mail-to-recipients" content="@DSIG_EMAIL@"/>
    <meta name="mail-cc-recipients" content="@IPS_INFO_EMAIL@"/>
</head>
<body>
    <p>Bonjour,</p>

    <p>J'ai bien pris connaissance de l'idée @IDEA_TITLE@, je
       vous la transmet directement pour les raisons suivantes :</p>

    <blockquote>@COMMENT@</blockquote>

    <p>Cordialement,<br/>
       @DI_FIRSTNAME@ @DI_LASTNAME@</p>
</body>
</html>
