/**
 * Copyright Solocal Group (2015)
 *
 * eureka@solocal.com
 *
 * This software is a computer program whose purpose is to provide a full
 * featured participative innovation solution within your organization.
 *
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 *
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 */

.yui3-notify {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 140px;
    z-index: 999;
}

.yui3-notify .yui3-notify-content li {
    /*background-color: #000;*/
    background: url("../../../../pagesjaunes/eureka/pj-eureka/static/style/mobile/images/navBg.gif") repeat-x scroll left top #888;
    color: #fff;
    margin-bottom:20px;
    padding: 15px 25px 15px 15px;
    position:relative;
    border: 1px solid #666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.yui3-notify .yui3-notify-content .yui3-notify-message-close {
    position:absolute;
    top: 4px;
    right: 4px;
    font-family:Arial, Helvetica;
    font-size: 9px;
    font-weight: bold;
    padding: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor:pointer;
    float:right;
    width:10px;
    height:10px;
    line-height:10px;
    text-align:center;
}

.yui3-notify .yui3-notify-content .yui3-notify-message-error {
    border-color: #C00;
}

.yui3-notify .yui3-notify-content .yui3-notify-message-alert {
    border-color: #CC0;
}

